

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background-color: #fff;
  --btn-color: #10B981;
  --btn-text-color: #fff;
  --project-card-bg: #ffffff00;
  --text-color: #222;
  --form-text-color: #555;
  --footer-text-color: #888;
  --font-main: "Rubik", sans-serif;
}

[data-theme="dark"] {
  --background-color: #222;
  --btn-color: #D1D5DB;
  --btn-text-color: #222;
  --project-card-bg: #fff;
  --text-color: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
  font-family: var(--font-main);
}

#root {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

h1,
h2,
h3,
p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-transform: uppercase;
}

h1 {
  font-family: var(--font-main);
  font-size: 32px;
}

h2,
h3 {
  font-family: var(--font-main);
  font-size: 20px;
}

p {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
}

.sectionTitle {
  margin-bottom: 30px;
}

.hover {
  cursor: pointer;
}

/* --------- FORM STYLES --------- */

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: var(--font-main);
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

textarea,
input:not([type="submit"]) {
  height: 50px;
  padding-left: 16px;
  width: 250px;
  font-family: var(--font-main);
  font-size: 16px;
}

textarea {
  padding-top: 16px;
  resize: none;
  height: 250px;
}

input,
textarea {
  border-radius: 20px;
  border: #888 1px solid;
  box-sizing: border-box;
  justify-self: center;
  background-color: var(--background-color);
  color: var(--form-text-color);
}

input::placeholder,
textarea::placeholder {
  color: var(--form-text-color);
  font-family: var(--font-main);
  font-size: 16px;
}

input[type="submit"] {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 20px;
  width: 126px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
  margin: auto;
  font-family: var(--font-main);
}

input[type="submit"]:hover {
  transform: scale(1.05);
}

input[type="submit"]:active {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  transform: translateY(2px);
}

/* --------- MEDIA QUERIES --------- */

@media (width >= 800px) {
  #root {
    gap: 100px;
  }

  h1 {
    font-size: 40px;
  }

  h2,
  h3 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }

  .sectionTitle {
    margin-bottom: 60px;
  }

  textarea,
  input:not([type="submit"]) {
    width: 600px;
    font-size: 20px;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 20px;
  }
}

@media (width >= 1400px) {
  #root {
    gap: 200px;
  }

  h1 {
    font-size: 48px;
  }

  .sectionTitle {
    margin-bottom: 75px;
  }
}